/*  - Fonts
    - General
    - Fonts
    - Social Icon Hover
    - Header And Navigation
    - Slider
    - About
    - Price
    - Parallax
    - Contact
    - Footer
    - Media Queries   */
/* !genaral */
@import url("https://fonts.googleapis.com/css2?family=Explora&family=Lato:wght@700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Explora&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  overflow-x: hidden;
  background-color: #202020;
  color: #fff;
  font-family: "Lato", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
a {
  color: #fff;
  text-decoration: none;
}
.navbar {
  background: #202020;
  position: fixed;
  width: 100%;
  z-index: 1;
}
.navbar-brand img {
  width: 200px;
  height: 95px;
}
.dropdown-menu {
  background-color: #202020;
}
.dropdown-menu a:hover {
  background: transparent;
  color: #df31ab !important;
}
.nav-menu ul li a {
  color: #fff !important;
  text-transform: uppercase;
  margin-left: 65px;
  font-size: 16px;
  font-weight: 200;
}
[type="button"]:not(:disabled),
[type="reset"]:not(:disabled),
[type="submit"]:not(:disabled),
button:not(:disabled) {
  cursor: pointer;
  color: #fff;
}
.nav-menu .nav-link:hover {
  color: #df31ab !important;
  cursor: pointer;
}
.nav-icon {
  text-align: end !important;
}
@media (max-width: 576px) {
  .nav-icon {
    padding-left: 40px;
  }
  .slider{
    padding-top: 100px;
  }
}
.nav-icon i {
  color: #fff;
  margin-left: 20px;
}
.nav-icon i:hover {
  color: #df31ab !important;
}
#welcome {
  padding-top: 150px;
}
@media (max-width: 576px) {
  #welcome {
    padding-top: 40px;
  }
}
.welcome-text-left h1 {
  width: 380px;
  font-size: 35px;
  line-height: 1.2;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 4px;
}
.welcome-text-left span {
  padding-top: 10px;
  font-weight: 900;
  color: #df31ab;
  position: relative;
  border-bottom: 2px solid #fff;
}
.welcome-text-right p {
  font-size: 18px;
  line-height: 1.625;
  font-weight: 300;
  text-transform: none;
  letter-spacing: 2px;
}
.welcome-text-right img {
  position: relative;
  left: 521px;
  top: -41px;
  transform: rotate(-30deg);
}
@media (max-width: 576px) {
  .welcome-text-right img {
    left: 0;
    top: 0;
  }
}
.background-img {
  background: url(../images/backgroud.jpg) no-repeat center / cover;
  padding: 400px 0;
  background-attachment: fixed;
  backface-visibility: hidden;
}
#menu {
  padding-top: 200px;
}
@media (max-width: 576px) {
  #menu {
    padding-top: 50px;
  }
}
.menu {
  text-align: center;
  font-size: 40px;
  font-weight: 900;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #df31ab;
}
#menu p {
  font-size: 16px;
  letter-spacing: 2px;
  width: 192px;
  margin: 0 auto;
  border-bottom: 2px solid #fff;
}
#menu h2 {
  padding-top: 20px;
  font-size: 50px;
  font-weight: lighter;
  letter-spacing: 2px;
  padding-bottom: 20px;
}
.menu-item {
  padding-top: 100px;
  border: 5px solid #fff;
  font-family: "Explora", cursive !important;
}
.menu-item h6 {
  font-size: 25px;
  font-weight: 900;
  letter-spacing: 1px;
  line-height: 15px;
}
.price {
  color: #df31ab;
}
.menu-item-left {
  padding: 0 20px;
}
.menu-item-right {
  padding-left: 40px;
  padding-right: 20px;
}
.challenge {
  margin-top: 50px;
}
.challenge-item h2 {
  font-size: 30px;
  letter-spacing: 2px;
  font-weight: 400;
}
.challenge-item img {
  display: block;
  margin: 0 auto;
}
@media (max-width: 576px){
  .challenge-item img{
    width: 100%;
    overflow: hidden;
  }
}
.challenge-item span {
  font-size: 18px;
  letter-spacing: 2px;
  line-height: 25px;
  padding-bottom: 40px;
}
.background-img-two {
  background: url(../images/background-two.jpg) no-repeat center / cover;
  padding: 200px 0;
  background-attachment: fixed;
  backface-visibility: hidden;
}
.background-img-two h2 {
  text-align: center;
  font-size: 50px;
  font-weight: 900;
  letter-spacing: 4px;
}
.card-body {
  background: #202020;
}
.card-title:hover {
  cursor: pointer;
  color: #df31ab;
}
#book-table {
  margin-top: 50px;
}
@media (max-width: 576px){
  .main-form div {
    width: 200px;
  }
  .main-form div input {
    width: 85% !important;
  }
  .main-form div select {
    width: 85% !important;
  }
  .table-img img{
    width: 100%;
    overflow: hidden;
  }
}
.form-text {
  text-align: center;
  margin: 0 0 40px 0;
}
.form-text p {
  color: #df31ab;
  font-size: 30px;
  letter-spacing: 2px;
}
.form-text h2 {
  color: #fff;
  font-size: 40px;
  font-weight: 900;
  letter-spacing: 3px;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.main-form div {
  margin: 10px 10px;
  width: 300px;
  display: inline-block;
}
.main-form div input {
  width: 100%;
  background: none;
  border: 1px solid #ffca00;
  font-size: 20px;
  color: #fff;
  outline: none;
  padding: 3px 0 3px 10px;
  margin-top: 10px;
}
.main-form div select {
  width: 100%;
  background: #202020;
  border: 1px solid #ffca00;
  font-size: 20px;
  color: #fff;
  outline: none;
  padding: 3px 0 3px 10px;
  margin-top: 10px;
}
.main-form div span {
  width: 100%;
  color: #fff;
  font-size: 25px;
}

#submit {
  width: 100%;
  text-align: center;
}
#submit input {
  width: 200px;
  background-color: yellow !important;
  color: black !important;
  transition: all 0.3s;
}
#submit input:hover {
  width: 200px;
  background-color: black !important;
  color: #fff !important;
}
#submit input:active {
  font-size: 19px;
  background-color: rgb(46, 20, 5) !important;
  color: #fff !important;
}
.table-img {
  padding-top: 80px;
  transition: transform 0.4s;
}
.table-img:hover {
  transform: scale(1.1);
}
footer {
  background: #fff;
  color: #202020;
  margin-top: 80px;
  padding: 40px 0;
}
footer h3 {
  font-size: 25px;
  font-weight: 600;
  letter-spacing: 2px;
  color: #df31ab;
  padding-bottom: 30px;
}
footer p {
  font-size: 18px;
  line-height: 35px;
  letter-spacing: 2px;
}
footer h6 {
  font-size: 20px;
  letter-spacing: 2px;
  padding-bottom: 20px;
}
.last {
  background: #000;
  padding: 30px 0;
  color: #df31ab;
}
.last-icon-text i:hover {
  color: #fff;
}
